
  .header{
    width: 100%;
    height: 80px;
    background: #eeeee4; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .box_nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .button_login{
    padding: 10px;
    width: 30%;
    border: none;
    cursor: pointer;  
  }

  @media(max-width: 800px){
    .box_nav{
      width: 50%;
      justify-content: flex-end;
    }
    .button_login{
      margin-right: 40px;
    }
    
  }
  .button_advertising {
    padding: 10px;
    width: 30%;
    cursor: pointer;
    background-color: rgb(247, 131, 35);
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }